@using JobsFinds.Models
@{
    ViewData["Title"] = "Apply For Job";
    Job job = (Job)ViewBag.Job;
}

@if (Context.Request.Query["success"].Count > 0 && Context.Request.Query["success"] == "1")
{
    <div class="alert alert-primary d-flex justify-content-center p-0">
        <p style="margin-bottom: 0;">@Context.Request.Query["message"]</p>
    </div>
}
else if(Context.Request.Query["success"].Count > 0)
{
    <div class="alert alert-danger d-flex justify-content-center p-0">
        <p style="margin-bottom: 0;">@Context.Request.Query["message"]</p>
    </div>
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div>
        <div class="form-group">
            <label class="control-label">Job Title</label>
            <input class="form-control" disabled value="@job.Title" />
        </div>
        <form method="post" asp-controller="Home" asp-action="JobApply" enctype="multipart/form-data">
            <input class="d-none" name="jobId" value="@job.Id" hidden required />
            <div class="form-group">
                <label for="educationLevel" class="control-label">Education Level</label>
                <input name="educationLevel" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <label name="aboutMe" class="control-label">Write About You</label>
                <textarea name="aboutMe" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="residenceCity" class="control-label">Residence City</label>
                <input name="residenceCity" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <label name="workExperience" class="control-label">Work Experience</label>
                <textarea name="workExperience" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label name="workExperience" class="control-label">CV</label>
                <input name="cv" type="file" class="form-control" required />

            </div>

            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>