@using JobsFinds.Models
@using JobsFinds.Data;
@using Microsoft.AspNetCore.Identity
@model Job

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "About Page";
    var job = ViewBag.Job;
    var context = ViewBag.Context;
    bool alreadyApplied = (bool)ViewBag.alreadyApplied;
}

@section Styles {
    <style>
        .single-job-items .job-items{
            flex-wrap: nowrap;
        }

        @@media(max-width: 600px){
            .single-job-items .job-items{
                flex-wrap: wrap;
            }
        }
    </style>
}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>@job.Title</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- job post company Start -->
<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img src="~/images/@context.Users.Find(job.CompanyId)?.image" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>@job.Title</h4>
                            </a>
                            <ul>
                                <li>@context.Users.Find(job.CompanyId)?.Name</li>
                                <li><i class="fas fa-map-marker-alt"></i>@job.Location</li>
                                <li>@job.SalaryRange</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Description</h4>
                        </div>
                    </div>
                    <div class="post-detail mb-50">
                        @Html.Raw(job.Description)
                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>@job.PostingDate</span></li>
                        <li>Location : <span>@job.Location</span></li>
                        <li>Vacancy : <span>@job.Vacancy</span></li>
                        <li>Job nature : <span>@job.JobNature</span></li>
                        <li>Salary :  <span>@job.AverageYearlySalary yearly</span></li>
                        <li>Last date : <span>@job.LastDate</span></li>
                    </ul>
                    <div class="apply-btn2">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (alreadyApplied)
                            {
                                <button disabled class="btn bg-secondary">Already Applied</button>
                            }
                            else
                            {
                                <a href="/Home/Apply/@job.Id" class="btn">Apply Now</a>
                            }
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Register" class="btn">Apply Now</a>
                        }
                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <span>Colorlib</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <ul>
                        <li>Name: <span>@context.Users.Find(job.CompanyId)?.Name </span></li>
                        <li>Web : <span> colorlib.com</span></li>
                        <li>Email: <span>@context.Users.Find(job.CompanyId)?.Email</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post company End -->
