@model IEnumerable<JobsFinds.Models.CompanyResponse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewLocation)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
